@import "reset.css";
/*引入css文件的一种方式*/
/*

-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#99ffffff,endColorstr=#99ffffff)";
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);
background:rgba(255,255,255,.8);


 filter:alpha(opacity=40); 针对 IE8 以及更早的版本 */
 body{
 	font-size: 16Px;
 }

.full-screen
.full-screen body

.full-screen-a
.full-screen-a body
	width 100%
	height 100%
.full-screen body
	background url('') center top/100% auto no-repeat
	@media(min-width 750px)
		background-size 750px auto

.pic-container
	img
		display block
		width 100%

.btn-expand
	position absolute
	top 1170px
	left 50%
	transform translateX(-50%)
	img
		display block
		width 310px
.recruit-container
	position absolute
	top 730px
	left 0
	right 0
	.progress-component
		position relative
		width 487px
		height 30px
		margin 0 auto
		border 4px solid #0f8ab8
		border-radius 19px
		background #0f83b8
		box-shadow 0 0 17px rgba(#0df6fc,0.4)
		span
			position absolute
			left 0
			right 0
			bottom 0
			right 0
			text-align center
			
			font-size 26px
			color #ffffff
			line-height 30px
			z-index 1
		.container
			position absolute
			top 0
			bottom 0
			left 0
			border-radius 15px
			background linear-gradient(-45deg,#ffaf04,#ffc038) left center no-repeat
			text-align right
			box-sizing border-box
			padding 0 15px
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			box-shadow 0 0 17px rgba(#ffaf04,0.4)
			transition 0.3s
			width 0
	.pic
		padding 20px 0 70px 0
		img
			display block
			width 290px
			margin 0 auto
	.btn-group
		a
			display block
			width 260px
			height 70px
			margin 0 auto
			&+a
				margin-top 40px	




.bg-gradient
	background linear-gradient(to bottom,#1ad1fc,#1d69f0) left top/1px 530px repeat-x

.header
	height 424px
	display flex
	align-items center
	justify-content center
	a
		display block
		width 166px
		img
			display block
			width 100%
.main
	width 690px
	box-sizing border-box
	padding 40px 35px 50px
	margin 0 auto
	background #ffffff
	box-shadow 0 0 5px #ccc
	border-radius 18px
	.pb30
		padding-bottom 30px
	.p70-0-50
		padding 70px 0 50px
	.bdrs
		height 86px
		box-shadow 0 0 5px #ccc
		background #f5f5f5
		border-radius 43px
	input
		width 100%
		height 100%
		outline none
		border none
		background none
		box-sizing border-box
		padding 0 50px
		font-size 30px
		color #858484
		&::placeholder
			font-family 'microsoft yahei'
			color #858484

	.df
		padding 0 50px
		display flex
		justify-content space-between
		&.p0
			padding 0
		&.aic
			justify-content flex-start
			align-items center

	.tar
		text-align right
	.p90-0-50
		padding 90px 0 50px
	.link
		font-size 26px
		color #474444
		line-height 1
	.submit
		display block
		width 516px
		height 86px
		border-radius 43px
		font-size 40px
		color #ffffff
		background #1bb3f9
		line-height 86px
		text-align center
		margin 0 auto
	.verification-code
		width calc(100% - 160px)
	.get-verification-code
		display block
		font-size 20px
		color #ffffff
		width 142px
		height 50px
		text-align center
		background #00aefe
		line-height 50px


.footer
	position static
	bottom 60px
	left 0
	right 0
	text-align center
	font-size 26px
	color #858484
	line-height 1
	margin-top 10vh
	a
		color #474444
		padding-left 10px

.full-layout
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	z-index 2
	display none
	&.active
		display block
.add-number-layout
	position fixed
	top 50%
	left 50%
	transform translate(-50%, -50%)
	border 5px solid #003c8d
	border-radius 10px
	width 500px
	background #ffffff
	display none
	z-index 10
	h3
		height 50px
		padding 20px 0
		background url('../img/7e02df73044be96be5981342a68512c0-125+31.png') center center/auto 40px no-repeat
		border-bottom 1px solid #003c8d
	.row
		padding 70px 0 100px
		display flex
		align-items center
		justify-content center
		.min
			width 60px
			height 60px
			margin-right 20px
			background  url('../img/46a34a3f7509c2a77411ad861f02bdce-39+38.png') center center /auto 100% no-repeat
		.add
			margin-left 20px
			width 60px
			height 60px
			background  url('../img/7762878780810ca2110c2e126e47f124-38+38.png') center center /auto 100% no-repeat
		input
			border none
			background #cdcdcd
			height 60px
			width 100px
			outline none
			padding 0 10px
			font-size 20px
			color #000000
	a
		width 250px
		position absolute
		left 50%
		transform translateX(-50%)
		bottom -30px
		img
			display block
			width 100%
		
